# Ignore raw and processed sequence data (files only, not folders)
Data/raw_data/*
!Data/raw_data/.gitkeep
Data/processed_data/*
!Data/processed_data/.gitkeep
Data/reference_dbs/*
!Data/reference_dbs/.gitkeep
Data/temp/*
!Data/temp/.gitkeep
picrust2_output_final/*
# Ignore results and intermediate outputs (files only, not folders)
Results/*
denoise_mode/*
!Results/.gitkeep

# Ignore logs and checkpoints (files only, not folders)
Logs/*
!Logs/.gitkeep

# Python/OS/editor junk
__pycache__/
*.pyc
.DS_Store

# Ignore QIIME artifacts if you don't want them in Git
*.qza
*.qzv

# Keep templates and small config files tracked (Config/ is intentionally kept)
